/***** GLOBAL STYLES *****/

body {
    color: #404040;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1, h2, h3, h4 {
    font-weight: bold;
    font-family: 'Alice', serif;
}

h1, h2 {
    text-align: left;
}

h1 {
    color: #799633;
    font-size: 40px;
    line-height: 45px;
}

h2 { 
    
    font-size: 30px;
    padding-bottom: 10px;
}

h3 {
    font-size: 30px;
    padding-bottom: 50px;
}

h4 {
    font-size: 25px;
    padding-bottom: 25px;
}

a {
    color:#799633;
}

/***** GRID *****/

.full-width {
    margin: 0 auto;
    width: 1200px;
    overflow: auto;
}

.half-width {
    float: left;
    width: 600px;
}

.third-left, .third-center, .third-right {
    float: left;
    width: 370px;
}

.third-left {
    padding-right: 30px;
}

.third-center {
    padding: 0 15px;
}

.third-right {
    padding-left: 30px;
}

/***** HEADER *****/

header {
    background: url("../img/campbell-tulip-keyboard.png");
    background-position: center;
    background-size: cover;
    overflow: auto;
    padding: 10px 0 35px 0;
}

h1 a {
    text-decoration: none;
}

header span {
    color:#FC6583;
    font-family: 'Princess Sofia', cursive;
    font-size: 80px;
    line-height: 70px;
}

#logo-navbar img{
    float: left;
    margin-top: 5px;
    width: 100px;
}

#title-nav {
    float: left;
    margin: 23px 0 0 10px;
}
    
nav ul li {
    display: inline-block;
}
    
nav ul li a {
    color: #FC6583;
    font-size: 20px;
    line-height: 30px;
    padding: 0 25px;
    position: relative;
    text-decoration: none;
    font-weight: normal;
}

.active a {
    background:  #FC6583;
    color: #FFFFFF;
    border-radius: 5px;
}

/***** NAVIGATION ANIMATIONS *****/

nav.stroke ul li a,
nav.stroke ul li a:after,
nav.stroke ul li a:before {
    transition: all .5s;
}

nav.stroke ul li a:after {
    background: #FC6583;
    content: '';
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
}

nav.stroke ul li a:hover:after {
    width: 80%;
}

/***** MEET KAREN *****/

#meet-karen {
    text-align: left;
    padding: 50px 0;
    font-size: 16px;
    line-height: 20px;
}

#meet-karen span {
    font-weight: bold;
}

#selfie {
    width: 40%;
    shape-outside: polygon(55% 0%, 37% 25%, 40% 42%, 15% 47%, 5% 55%, 0% 65%, 5% 90%, 100% 90%, 100% 0%);
    /*clip-path: polygon(55% 0%, 37% 25%, 40% 42%, 15% 47%, 5% 55%, 0% 65%, 5% 90%, 100% 90%, 100% 0%);*/
    /*padding-bottom: -100px;*/
    /*background: red;*/
    position: relative;
    float: right;
    top: 35px;
    z-index: 2;
}

.bubbles {
    padding: 25px 50px;
    /*background-image: linear-gradient(to bottom right, #F4F4F4, #D7D5D4);*/
    border-radius: 25px;
    margin-bottom: 25px;
    position: relative;
    z-index: 1;

}

.bubbles a {
    color: #404040;
}

#intro {
    margin-left: 175px;
    width: 600px;
    background-image: linear-gradient(to bottom right, #F4F4F4, #D7D5D4);
}

#intro span {
    color: #799633;
    font-weight: bold;
}

#tech {
    margin-left: 250px;
    background: #F2B705;
    padding-right: 295px;
    
}


#academic {
    overflow: auto;
    margin-left: 75px;
    padding-right: 0;
    background: #FC889F;
    width: 575px;
    display: flex;
}

#academic-text {
    border-right:1px solid #404040;
    padding-right: 25px;
    width: 424px;

}

#cv {
    font-size: 50px;
    line-height: 50px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    
}


#building {
    background: #799633;
    width: 700px;
    position: relative;
    float: right;
    z-index: 3;

}

#family {
    background-image: linear-gradient(to bottom right, #F4F4F4, #D7D5D4);
    width: 165px;
    margin-right: 25px;
    position: relative;
    z-index: 3;
    float: right;
}

#chickens {
    background: #F2B705;
    margin-left: 250px;
    width: 600px;
    clear: both;
}

/***** CONTACT *****/

#contact {
    background: url("../img/campbell-tulip-coffee-notebook.png");
    background-size: cover;
    padding: 50px 0;
    overflow: auto;
    text-align: center;
}

#contact a {
    color:#799633;
}

table {
    border-collapse: separate;
    border-spacing: 100px 0;
    width: 100%;
}

td {
    background-color: rgb(255, 255, 255, 0.7);
    border-radius: 50px;
    width: 50%;
    padding: 50px 25px;
}

#contact p {
    font-size: 18px;
    line-height: 30px;
}

#contact ul li{
    display: inline-block;
    font-size: 50px;
    padding: 30px 10px;
}


/***** FOOTER *****/

footer {
    background-image: linear-gradient(to bottom right, #F4F4F4, #D7D5D4);
    overflow: auto;
    padding: 25px 0;
}

footer p {
        font-size: 18px;
        line-height: 30px;
}
