/***** GLOBAL STYLES *****/

body {
    color: #404040;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1, h2, h3, h4 {
    font-family: 'Alice', serif;
    font-weight: bold;
}   

h1, h2 {
    text-align: left;
}

h1 {
    color: #799633;
    font-size: 40px;
    line-height: 45px;
}

h2 { 
    color: #F2B705;
    font-size: 70px;
    padding-left: 25px;
    padding-top: 200px;
}

h3 {
    font-size: 30px;
    padding-bottom: 50px;
}

h4 {
    font-size: 25px;
    padding-bottom: 25px;
}

a {
    color:#799633;
}

/***** GRID *****/

.full-width {
    margin: 0 auto;
    /*overflow: auto;*/
    width: 1200px;
}

/***** HEADER *****/

header {
    background: url("../img/campbell-tulip-keyboard.png");
    background-position: center;
    background-size: cover;
    overflow: auto;
    padding: 10px 0 35px 0;
}

h1 a {
    text-decoration: none;
}

header span {
    color:#FC6583;
    font-family: 'Princess Sofia', cursive;
    font-size: 80px;
    line-height: 70px;
}

#logo-navbar img{
    float: left;
    margin-top: 5px;
    width: 100px;
}

#title-nav {
    float: left;
    margin: 23px 0 0 10px;
}
    
nav ul li {
    display: inline-block;
}
    
nav ul li a {
    color: #FC6583;
    font-size: 20px;
    line-height: 30px;
    padding: 0 25px;
    position: relative;
    text-decoration: none;
    /*font-weight: normal;*/
}

.active a {
    background:  #FC6583;
    color: #FFFFFF;
    border-radius: 5px;
}

/***** NAVIGATION ANIMATIONS *****/

nav.stroke ul li a,
nav.stroke ul li a:after,
nav.stroke ul li a:before {
    transition: all .5s;
}

nav.stroke ul li a:after {
    background: #FC6583;
    content: '';
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
}

nav.stroke ul li a:hover:after {
    width: 80%;
}

/***** MEET KAREN *****/

#meet-karen {
    margin: 50px 0;
    overflow: auto;
}

#meet-karen span {
    font-weight: bold;
}

#selfie {
    /*background: red;*/
    /*clip-path: polygon(55% 0%, 37% 25%, 40% 42%, 15% 47%, 5% 55%, 0% 65%, 5% 90%, 100% 90%, 100% 0%);*/
    float: left;
    position: relative;
    shape-outside: polygon(55% 0%, 37% 25%, 40% 42%, 15% 47%, 5% 55%, 0% 65%, 5% 90%, 100% 90%, 100% 0%);
    top: 35px;
    width: 40%;
    z-index: 2;
}

.bubbles {
    border-radius: 25px;
    margin-bottom: 25px;
    padding: 25px 50px;
    position: relative;
    z-index: 1;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
}

.bubbles a {
    color: #404040;
}

.bubbles h2 { 
    color: #799633;
    font-size: 30px;
    padding: 0 0 10px 0;
}

#intro {
    background-image: linear-gradient(to bottom right, #F4F4F4, #D7D5D4);
    margin-left: 175px;
    width: 600px;
}

#intro span {
    color: #799633;
    font-weight: bold;
}

#tech {
    background: #F2B705;
    margin-left: 250px;
    padding-right: 295px;
}

#academic {
    background: #FC889F;
    margin-left: 75px;
    overflow: auto;
    padding-right: 0;
    width: 575px;
}

#academic-text {
    border-right:1px solid #404040;
    padding-right: 25px;
    width: 424px;
}

#cv {
    text-align: center;
    vertical-align: middle;
    width: 100px;
}

#cv-icon {
    font-size: 50px;
    line-height: 50px;
}


#building {
    background: #799633;
    float: right;
    position: relative;
    width: 700px;
    z-index: 3;
}

#family {
    background-image: linear-gradient(to bottom right, #F4F4F4, #D7D5D4);
    float: right;
    margin-right: 25px;
    position: relative;
    width: 165px;
    z-index: 3;
}

#chickens {
    background: #F2B705;
    clear: both;
    margin-left: 250px;
    width: 600px;
}

/***** CONTACT *****/

#contact {
    background: url("../img/campbell-tulip-coffee-notebook.png");
    background-size: cover;
    overflow: auto;
    padding: 50px 0;
    text-align: center;
}

#contact table {
    border-collapse: separate;
    border-spacing: 100px 0;
    width: 100%;
}

#contact td {
    background-color: rgb(255, 255, 255, 0.7);
    border-radius: 50px;
    padding: 50px 25px;
    width: 50%;
}

#contact p {
    font-size: 18px;
    line-height: 30px;
}

#contact ul li{
    display: inline-block;
    font-size: 50px;
    padding: 30px 10px;
}

/***** FOOTER *****/

footer {
    background-image: linear-gradient(to bottom right, #F4F4F4, #D7D5D4);
    overflow: auto;
    padding: 25px 0;
}

footer p {
        font-size: 18px;
        line-height: 30px;
}
