/***** GLOBAL STYLES *****/

body {
    font-family: 'Montserrat', sans-serif;
    color: #404040;
}

h1, h2, h4 {
    font-family: 'Alice', serif;
    font-weight: bold;
}

/***** GRID *****/

.full-width {
    margin: 0 auto;
    width: 1200px;
}

.half-width {
    float: left;
    width: 600px;
}

/***** HEADER *****/

header {
    background: url("../img/campbell-tulip-keyboard.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
}

#logo-navbar {
    overflow: auto;
}

#logo-navbar img{
    float: left;
    height: 100px;
}

#title-nav {
    float: left;
    padding: 25px 0 15px 5px;
}

#title-nav h1{
    font-size: 30px;
    line-height: 30px;
    color: #888C03;
    /*padding-top: 35px;*/
}


nav {
    padding: 0;
}
    
nav ul li {
    display: inline-block;
}
    
nav ul li a {
    color: #FC6583;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    padding: 10px 40px 0 0;
    text-decoration: none;
    text-transform: uppercase;
}
    

header h2 { 
    float: left;
    font-size: 70px;
    line-height: 70px;
    padding-top: 175px;
    padding-left: 25px;
    color: #F2B705;
}

h2 span {
    font-family: 'Princess Sofia', cursive;
    color:#FC6583;
    line-height: 70px;
    font-size: 80px;
}


/***** PORTFOLIO *****/

#portfolio h3 {
    text-align: center;
    padding: 50px 0;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.article-left {
    float: left;
    width: 550px;
    padding-right: 50px;
}

.article-right {
    float: left;
    width: 550px;
    padding-left: 50px;
}

#rogue-pickings {
    overflow: auto;
}

#portfolio img {
    width: 100%;
}

#portfolio h4 {
    padding: 10px 0;
    font-weight: bold;
    font-size: 30px;
}

#portfolio h5 {
    font-size: 20px;
}

#portfolio p {
    padding: 10px 0;
    font-size: 18px;
}
