/***** GLOBAL STYLES *****/

body {
    font-family: 'Montserrat', sans-serif;
    color: #404040;
}

h1, h2, h3, h4 {
    font-family: 'Alice', serif;
    font-weight: bold;
}

/***** GRID *****/

.full-width {
    margin: 0 auto;
    width: 1200px;
}

.half-width {
    float: left;
    width: 600px;
}

/***** HEADER *****/

header {
    background: url("../img/campbell-tulip-keyboard.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
}

#logo-navbar {
    overflow: auto;
}

#logo-navbar img{
    float: left;
    height: 100px;
}

#title-nav {
    float: left;
    padding: 25px 0 15px 5px;
}

#title-nav h1{
    font-size: 30px;
    line-height: 30px;
    color: #799633;
}


nav {
    padding: 0;
}
    
nav ul li {
    display: inline-block;
}
    
nav ul li a {
    color: #FC6583;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    padding: 10px 40px 0 0;
    text-decoration: none;
    text-transform: uppercase;
}
    

header h2 { 
    font-size: 70px;
    line-height: 70px;
    padding-top: 200px;
    padding-left: 25px;
    color: #F2B705;
}

h2 span {
    font-family: 'Princess Sofia', cursive;
    color:#FC6583;
    line-height: 70px;
    font-size: 80px;
}


/***** PORTFOLIO *****/
#portfolio {
    overflow: auto;
}

#portfolio h3 {
    text-align: center;
    padding: 50px 0;
    font-size: 30px;
    font-weight: bold;

}

.article-left {
    float: left;
    width: 370px;
    padding-right: 30px;
}

.article-center {
    float: left;
    width: 370px;
    padding: 0 15px;
}

.article-right {
    float: left;
    width: 370px;
    padding-left: 30px;
}

#rogue-pickings {
    overflow: auto;
}

#portfolio img {
    width: 100%;
}

#portfolio h4 {
    padding: 10px 25px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;

}

/*
.article-left h4 {
    color: #FC6583;
}

.article-center h4 {
    color: #F2B705;;
}

.article-right h4 {
    color: #799633;
}
*/

#portfolio h5 {
    padding: 0 25px;
    font-size: 20px;
    text-align: center;
}

#portfolio p {
    padding: 10px 25px 50px 25px;
    font-size: 18px;
    text-align: center;
}

/***** ABOUT *****/
#about {
    background-image: linear-gradient(to bottom right, #F4F4F4, #D7D5D4);
}
