/***** GLOBAL STYLES *****/

body {
    font-family: 'Montserrat', sans-serif;
    color: #404040;
}

h1, h2, h3, h4 {
    font-family: 'Alice', serif;
    font-weight: bold;
}

a {
    color:#FC6583;
}

/***** GRID *****/

.full-width {
    margin: 0 auto;
    width: 1200px;
}

.half-width {
    float: left;
    width: 600px;
}

/***** HEADER *****/

header {
    background: url("../img/campbell-tulip-keyboard.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
}

#logo-navbar {
    overflow: auto;
}

#logo-navbar img{
    float: left;
    height: 100px;
}

#title-nav {
    float: left;
    padding: 25px 0 15px 5px;
}

#title-nav h1{
    font-size: 30px;
    line-height: 30px;
    color: #799633;
}


nav {
    padding: 0;
}
    
nav ul li {
    display: inline-block;
}
    
nav ul li a {
    color: #FC6583;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    padding: 10px 40px 0 0;
    text-decoration: none;
    text-transform: uppercase;
}
    

header h2 { 
    font-size: 70px;
    line-height: 70px;
    padding-top: 200px;
    padding-left: 25px;
    color: #F2B705;
}

h2 span {
    font-family: 'Princess Sofia', cursive;
    color:#FC6583;
    line-height: 70px;
    font-size: 80px;
}


/***** PORTFOLIO *****/
#portfolio {
    overflow: auto;
}

h3 {
    text-align: center;
    padding: 50px 0;
    font-size: 30px;
    font-weight: bold;

}

.article-left, .article-center, .article-right {
    float: left;
    width: 370px;
    text-align: center;
}

.article-left {
    padding-right: 30px;
}

.article-center {
    padding: 0 15px;
}

.article-right {
    padding-left: 30px;
}

#rogue-pickings {
    overflow: auto;
}

#portfolio img {
    width: 100%;
}

h4 {
    padding: 20px 25px;
    font-weight: bold;
    font-size: 30px;
}

#portfolio h5 {
    padding: 0 25px;
    font-size: 20px;
}

#portfolio p {
    padding: 20px 25px 50px 25px;
    font-size: 18px;
    line-height: 30px;
}

/***** ABOUT *****/
#about {
    background: url("../img/campbell-tulip-coffee-notebook.jpg");
    background-size: cover;
    padding: 25px 0;
    /*background-position: center;*/
    /*background-image: linear-gradient(to bottom right, #F4F4F4, #D7D5D4);*/
}

#central-text {
    background-color: rgb(255, 255, 255, 0.4);
    width: 500px;
    margin: 0 350px;
    border-radius: 50px;
}

#central-text p{
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    padding: 0 25px;
}


#dwd {
    font-family: 'Alice', serif;
    font-weight: bold;
    font-size: 21px;
    color: #799633;
}

#delight {
    font-family: 'Princess Sofia', cursive;
    font-size: 30px;
    color:#FC6583;
}



/***** CONTACT *****/
#contact {
    overflow: auto;
    padding: 0 0 100px 0;
}

#contact h4 {
    font-size: 25px;
}

#contact p {
    font-size: 18px;
    line-height: 30px;
}

#contact ul li{
display: inline-block;
}

/***** FOOTER *****/

footer {
    background-image: linear-gradient(to bottom right, #F4F4F4, #D7D5D4);
    overflow: auto;
    padding: 25px 0;
}

h6 {
    text-align: center;
}


